{% extends "base.html" %}
{% load static %}

{% block content %}

        <!--START for model based searching-->
        <div class="showcase">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 d-flex align-items-center">
                      <div class="block clearfix search-box">
                          <div class="introInner">
                              <h2><br>Search for Your Device Below &</h2>
                              <h3>Find Out How Much It's Worth Instantly!</h3>
                          </div>
                          <form action="{% url 'search_results' %}" method="get" class="search-form" id="search-form">
                            <div class="input-group">
                                <input type="text" name="search" id="search-input" class="form-control search-input" placeholder="Enter your model" aria-label="Enter your model" aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <button type="submit" id="search-button" class="input-group-text btn btn-primary">
                                        <img src="{% static 'images/search.png' %}" alt="search">
                                    </button>
                                </div>
                            </div>
                            <ul id="suggestions-list"></ul>
                            
                        </form>

                        <span id="error-message" class="error-message"></span>
                        
  
                          <!-- Display error message if search query is empty -->
                          {% if error_message %}
                              <div class="alert alert-danger mt-3">
                                  {{ error_message }}
                              </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="block clearfix mobile-box">
                          <img src="{% static 'images/header-mobile.png' %}" alt="Home">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  <!--START for model based searching-->
  
  <main>
  
	    
    <section class="sell-steps">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block clearfix heading h-black">
              <h2>Sell your gadget in <span>4 simple steps</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="block clearfix step">
              <img src="{% static 'images/steps/step1.png' %}" alt="step 1">
              <div class="content">
                <p>STEP 1</p>
                <h4>Register Sale</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block clearfix step">
              <img src="{% static 'images/steps/step2.png' %}" alt="step 2">
              <div class="content">
                <p>STEP 2</p>
                <h4>Get FREE Postage</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block clearfix step">
              <img src="{% static 'images/steps/step3.png' %}" alt="step 3">
              <div class="content">
                <p>STEP 3</p>
                <h4>Post Your Gadget</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block clearfix step">
              <img src="{% static 'images/steps/step4.png' %}" alt="step 4">
              <div class="content">
                <p>STEP 4</p>
                <h4>Get Fast Payment</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   <!-- Popular devices start here -->
   <section class="popular-devices-section popular-items-middle">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block clearfix heading h-black">
                    <h2>Sell by <span>Categories</span></h2>
                </div>
            </div>
        </div>
        <div class="row category-grid">
                {% for category in categories %}
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                  <a href="{% url 'category_brands' category_slug=category.slug %}" class="category-item text-center d-block">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" alt="{{ category.name }}" class="category-image img-fluid mb-3">
                        {% else %}
                            <img src="{% static 'images/default-image.jpg' %}" alt="Default Image" class="category-image img-fluid mb-3">
                        {% endif %}
                        <h4>{{ category.name }}</h4>
                    </a>
                    </div>
                {% endfor %}
            </div>
        </div>
</section>



{% endblock%}
