{% extends "base.html "%}
{% load static %}

{% block content %}

        <!--START for model based searching-->
  <div class="showcase">
    <div class="container">
      <div class="row">
        <div class="col-md-8 d-flex align-items-center">
          <div class="block clearfix search-box">
            <div class="introInner">
		  	<h2>
		  	            <br>Search for Your Device Below &		</h2>
                    <h3>Find Out How Much It's Worth Instantly! </h3>
                    </div>
            <form action="#" class="search-form">
              <div class="input-group">
                <input type="text" name="search" id="search" class="form-control srch_list_of_model" placeholder="Enter your model" aria-label="Enter your model" aria-describedby="basic-addon1">
                <div class="input-group-append">
                  <button type="submit" class="input-group-text" id="basic-addon1"><img src="{{ MEDIA_URL }}search.png" alt="search"></button>
                </div>
              </div>
            </form>
            <p>What is my IMEI number? <i class="fa fa-question-circle"></i></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="block clearfix mobile-box">
			  				<img src="{{ MEDIA_URL }}header-mobile.png" alt="Home">
			            </div>
        </div>
      </div>
    </div>
  </div>
  <!--START for model based searching-->
  
  <main>
  
	    
    <section class="sell-steps">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block clearfix heading h-black">
              <h2>Sell your mobile in <span>4 simple steps</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="block clearfix step">
              <img src="{{ MEDIA_URL }}steps/step1.png" alt="step 1">
              <div class="content">
                <p>STEP 1</p>
                <h4>Register Sale</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block clearfix step">
              <img src="{{ MEDIA_URL }}steps/step2.png" alt="step 2">
              <div class="content">
                <p>STEP 2</p>
                <h4>Get FREE Postage</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block clearfix step">
              <img src="{{ MEDIA_URL }}steps/step3.png" alt="step 3">
              <div class="content">
                <p>STEP 3</p>
                <h4>Post Your Device</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block clearfix step">
              <img src="{{ MEDIA_URL }}steps/step4.png" alt="step 4">
              <div class="content">
                <p>STEP 4</p>
                <h4>Get Fast Payment</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!---Popular devices start here-->
    <section class="popular-devices-section popular-items-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block clearfix heading h-black">
              <h2>Popular <span>Devices</span></h2>
            </div>
          </div>
        </div>
        <div class="swiper-container device-swiper">
          <div class="swiper-wrapper">
		  				  <a href="device-1" class="swiper-slide device">
									<img src="assets/images/devices/1.png">
								<h4>Device 1</h4>
			  </a>
						  <a href="device-2" class="swiper-slide device">
									<img src="assets/images/devices/2.png">
								<h4>Device 2</h4>
			  </a>
        <a href="device-3" class="swiper-slide device">
          <img src="assets/images/devices/3.png">
        <h4>Device 3</h4>
</a>

<a href="device-4" class="swiper-slide device">
  <img src="assets/images/devices/4.png">
<h4>Device 4</h4>
</a>

<a href="device-5" class="swiper-slide device">
  <img src="assets/images/devices/5.png">
<h4>Device 5</h4>
</a>
</div>
</div>
</div>
<!---end-->

<!---Top sellers starts here-->
      </section>
      <section class="top-sellers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading h-black">
                        <h2>Our Top <span>Sellers</span></h2>
                    </div>
                </div>
            </div>
            <div class="swiper-container seller-swiper">
              <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                        <div class="content">
                            <img src="assets/images/seller/seller1.png" alt="iPhone X" class="phone-image">
                            <h6>Apple</h6>
                            <p>iPhone X - 32GB</p>
                            <div class="price">£65.00</div>
                        </div>
                    </div>
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                        <div class="content">
                            <img src="assets/images/seller/seller2.png" alt="Samsung Galaxy S8" class="phone-image">
                            <h6>Samsung</h6>
                            <p>Galaxy S8 - 64GB</p>
                            <div class="price">£45.00</div>
                        </div>
                    </div>

                     <!-- Slide 2 -->
                     <div class="swiper-slide">
                      <div class="content">
                          <img src="assets/images/seller/seller3.png" alt="Samsung Galaxy S8" class="phone-image">
                          <h6>Samsung</h6>
                          <p>Galaxy S8 - 64GB</p>
                          <div class="price">£45.00</div>
                      </div>
                  </div>

                   <!-- Slide 2 -->
                   <div class="swiper-slide">
                    <div class="content">
                        <img src="assets/images/seller/seller4.png" alt="Samsung Galaxy S8" class="phone-image">
                        <h6>Samsung</h6>
                        <p>Galaxy S8 - 64GB</p>
                        <div class="price">£45.00</div>
                    </div>
                </div>

                 <!-- Slide 2 -->
                 <div class="swiper-slide">
                  <div class="content">
                      <img src="assets/images/seller/seller5.png" alt="Samsung Galaxy S8" class="phone-image">
                      <h6>Samsung</h6>
                      <p>Galaxy S8 - 64GB</p>
                      <div class="price">£45.00</div>
                  </div>
              </div>

              <div class="swiper-slide">
                <div class="content">
                    <img src="assets/images/seller/seller5.png" alt="Samsung Galaxy S8" class="phone-image">
                    <h6>Samsung</h6>
                    <p>Galaxy S8 - 64GB</p>
                    <div class="price">£45.00</div>
                </div>
            </div>

            <div class="swiper-slide">
              <div class="content">
                  <img src="assets/images/seller/seller5.png" alt="Samsung Galaxy S8" class="phone-image">
                  <h6>Samsung</h6>
                  <p>Galaxy S8 - 64GB</p>
                  <div class="price">£45.00</div>
              </div>
          </div>
                    <!-- Add more slides as needed -->
                </div>
                <!-- Pagination controls -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    
    <!---ends-->

    <!---Brands start Here-->
			          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <section class="brand-heading-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block clearfix heading h-white">
                <h2><span>Brands</span></h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    <section class="brand-section clearfix">
      <div class="container">
        <div class="swiper-container brand-swiper swiper-container-horizontal">
          <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
		  	<div class="swiper-slide swiper-slide-active" style="width: 162px; margin-right: 30px;">
          <a href="#"><img src="assets/images/brands/brand1.png"></a>
        </div>
        <div class="swiper-slide swiper-slide-next" style="width: 162px; margin-right: 30px;">
          <a href="#"><img src="assets/images/brands/brand2.png"></a>
        </div>
        <div class="swiper-slide" style="width: 162px; margin-right: 30px;">
          <a href="#"><img src="assets/images/brands/brand3.png"></a>
        </div>
        <div class="swiper-slide" style="width: 162px; margin-right: 30px;">
          <a href="#"><img src="assets/images/brands/brand4.png"></a>
        </div>
        <div class="swiper-slide" style="width: 162px; margin-right: 30px;">
          <a href="#"><img src="assets/images/brands/brand5.png"></a>
        </div>       
        <div class="swiper-slide" style="width: 162px; margin-right: 30px;">
          <a href="#"><img src="assets/images/brands/brand6.png"></a>
        </div>         
        <div class="swiper-slide" style="width: 162px; margin-right: 30px;">
          <a href="#"><img src="assets/images/brands/brand7.png"></a>
        </div>        
           
        </div>
          <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </div>
    </section>
    <!---Ends-->
    
{% endblock%}