{% extends "base.html" %}

{% block content %}
    <div class="order-detail-container">
        <!-- Back to Account Button -->
        <div class="action-buttons">
            <a href="{% url 'profile' %}" class="btn back-btn">← Back to Account</a>
            <button onclick="window.print();" class="btn print-btn">🖨 Print Order</button>
        </div>

        <h2>Order Details</h2>

        <div class="order-info">
            <p><strong>Order Number:</strong> {{ order.order_number }}</p>
            <p><strong>Order Date:</strong> {{ order.date|date:"d/m/y" }}</p>
            <p><strong>Status:</strong> {{ order.status }}</p>

            {% if order.revised_price %}
            <p><strong>Total Value:</strong> 
                <span style="text-decoration: line-through; color: #c82333;">£{{ order.total_price }}</span> 
            </p>
            {% else %}
            <p><strong>Total Value:</strong> £{{ order.total_price }}</p>
            {% endif %}
            {% if order.revised_price %}
            <p><strong>Revised Price:</strong> £{{ order.revised_price }}</p>
            <p><strong>Reason:</strong> {{ order.revised_reason }}</p>
            {% endif %}
        </div>
        

        <h3>Items in this Order</h3>
        <table class="order-items-table">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Condition</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.condition }}</td>

                        <td>

                        {% if order.revised_price %}
                        <span style="text-decoration: line-through; color: #c82333;">£{{ item.value }}</span>
                        {% else %}
                        £{{ item.value }}       
                        {% endif %}
                        {% if order.revised_price %}
            <p><strong>Revised Price:</strong> £{{ order.revised_price }}</p>
            {% endif %}
                       </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No items in this order.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
