{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="tabs">
    <a href="{% url 'profile' %}" class="active">Your Orders</a>
    <a href="{% url 'edit_profile' %}">Edit your details</a>
    <a href="{% url 'account_change_password' %}">Change password</a>
</div>
    <h1>{% trans "Change Password" %}</h1>

    

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>

    <style>

tabs {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        
     .tabs a {
            text-decoration: none;
            padding: 10px 20px;
            border-bottom: 2px solid transparent;
            color: #333;
            font-weight: bold;
            margin-right: 15px;
            transition: 0.3s;
        }

        .tabs a.active {
            color: #d63384;
            border-bottom: 2px solid #d63384;
        }
    </style>
    
{% endblock %}
