{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="tabs">
    <a href="{% url 'profile' %}" class="tab-link">Your Orders</a>
    <a href="{% url 'edit_profile' %}" class="tab-link">Edit your details</a>
    <a href="{% url 'account_change_password' %}" class="tab-link active">Change password</a>
</div>

<h1 class="text-center mb-4">{% trans "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password-change-form">
    {% csrf_token %}
    <fieldset class="fieldset">
        <legend class="fieldset-legend">{% trans "Change your password" %}</legend>
        {{ form.as_p }}
    </fieldset>
    <button type="submit" name="action" class="submit-btn">{% trans "Change Password" %}</button>
</form>


{% endblock %}
