{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" title="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" title="stylesheet" href="{% static 'css/mediaqueries.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    
   

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>

<script>
  const searchUrl = "{% url 'search_results' %}";
</script>
<script src="{% static 'js/search.js' %}"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>CashThatGadget {% block extra_title %}{% endblock %}</title>
  </head>
  <body class="cbp-spmenu-push" style="
    font-size: 15px;">

    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
      <button class="close-menu">X</button>
      <a href="{% url 'home' %}" class="active">Home</a>
      <a href="{% url 'sell_mobile' %}" >Sell My Gadget</a>
      <a href="{% url 'how_it_works' %}" >How It Works</a>
      <a href="{% url 'why_use_us' %}" >Why Use Us?</a>
      <a href="{% url 'support' %}" >support</a>
      <a href="{% url 'contact' %}" >Contact Us</a>

  </nav>
  <header>
		
		<nav class="navbar">
		  <div class="container">
		  	
						<a href="{% url 'home' %}" class="logo" style="padding-bottom: 10px;">
              <img src="{% static 'images/logo.png' %}" alt="Logo" style="width: 221px;">

			</a>


						<ul class="nav main-menu">
				
									<li class="active left">
                    <a class="item" href="{% url 'home' %}">
                      Home
                  </a>
					</li>
									<li class=" left">
                    <a class="item" href="{% url 'sell_mobile' %}">
                      Sell My Gadget
                  </a>
					</li>
									<li class=" left">
                    <a class="item" href="{% url 'how_it_works' %}">
                      How It Works
                  </a>
					</li>
          <li class=" left">
					  <a class="item" href="{% url 'why_use_us' %}">
              Why Use Us?
          </a>
					</li>

          <li class=" left">
            <a class="item" href="{% url 'support' %}">
              Support
          </a>
					</li>
									<li class=" left">
                    <a class="item" href="{% url 'contact' %}">
                      Contact Us
                  </a>
					</li>		
							</ul>
						
			<ul class="nav icon-menu">
			  <li class="user">
				<a href="javascript:void()"><img src="{% static 'images/user_icon.png' %}" alt="User Icon" style="width: 25px;height: 29px;"></a>
				<ul class="submenu">
				  					  <li><a href="{% url 'login' %}">Login</a></li>
					  <li><a href="{% url 'signup' %}">Signup</a></li>
				  				</ul>
			  </li>
			  <li>
      
        <a class="site-pop-search" href="#">
          <img src="{% static 'images/search_icon.png' %}" alt="Search Icon" style="width: 28px;">    
        </a>
			  </li>
			  <li>
				<a href="{% url 'revieworder' %}" class="cart"><img src="{% static 'images/cart_icon.png' %}" alt="Cart Icon" style="width: 30px;height: 27px;"><span></span></a>
			  </li>
			  <li class="toggle-btn">
				<button id="showRightPush"><i class="fa fa-bars"></i></button>
			  </li>
      </ul>
      <form action="{% url 'search_results' %}" method="get" class="search-form2 search-form-top" id="search-form2">
        <div class="input-group">
            <input name="search" id="search-input2" class="form-control" placeholder="Enter your model" autocomplete="off" type="text">
            <div class="input-group-append">
                <button type="submit" class="input-group-text btn btn-primary" id="search-button2">
                    <img src="{% static 'images/search.png' %}" alt="search">
                </button>
            </div>
        </div>
        <ul id="suggestions-list2"></ul>
        <span id="error-message2" class="error-message2"></span>
    </form>
		  </div>
		</nav>
	</header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="block clearfix">
                <img src="{% static 'images/logo.png' %}" alt="logo" style="width: 220px;">
              </div>
              <div class="block clearfix social d-flex" style="height: 50px;">
                <ul style="list-style: none; display: flex; gap: 15px; padding: 0; margin: 0;">
                  <li>
                    <a href="https://facebook.com" target="_blank" style="text-decoration: none; color: inherit;">
                      <i class="fa fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com" target="_blank" style="text-decoration: none; color: inherit;">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://instagram.com" target="_blank" style="text-decoration: none; color: inherit;">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
              
              
  
                           
            </div>
            <div class="col-md-2">
              <div class="block clearfix">
                
              </div>
            </div>
            <div class="col-md-2">
              <div class="block clearfix">
                <h3>SELL</h3>
                <ul>
                  
                  <li ><a href="#">Sell my mobile</a></li>
                  <li ><a href="#">How It Works</a></li>
                  <li ><a href="#">Why Use Us?</a></li>
                
                                </ul>
              </div>
            </div>
            <div class="col-md-2">
              <div class="block clearfix">
                <h3>SUPPORT</h3>
                <ul>
                  <li ><a href="#">Contact Us</a></li>
                    </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="block clearfix">
                <h3>OTHER</h3>
                <ul>
                        <li><a href="#">Terms & Conditions</a> </li>
                            <li>
                    <a href="https://www.checkmend.com/uk/"><img src="{% static 'images/checkmend-logo.png' %}" alt="checkmend logo" width="127"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block clearfix">
                <p>Copyright {{ current_year }} CashThatGadget - All rights Reserverd - Created by V Chopra</p>
                            </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <style>

    /* Error message styles */
.error-message2 {
  color: #ff0800;  /* Red color for error */
  background-color: #ffffff;  /* Light red background */
  border: 1px solid #ebccd1;  /* Red border */
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: none;  /* Hide by default */
  text-align: center;
}

#suggestions-list2 {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

#suggestions-list2 li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #998c8c;
  font-size: 15px;
  font-weight: 500;
}

#suggestions-list2 li:hover {
  background-color: #f0f0f0;
}

#suggestions-list2 a {
    /* Add your styles here */
    color: #333;  /* Example: Change text color */
    text-decoration: none;  /* Example: Remove underline */
    padding: 5px;  /* Example: Add padding */
}

#suggestions-list2 a:hover {
    /* Add hover styles */
    color: #007bff;  /* Example: Change color on hover */
    background-color: #f0f0f0;  /* Example: Change background on hover */
}

  </style>


  

    
  </body>
</html>