{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <h1 class="my-4 text-center">Select a device</h1>
    <p>Select a device from the list below to continue with your sale.</p>
    
    <!-- Bootstrap Grid for the list of products -->
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card shadow-sm">
                    <a href="{% url 'product_detail' product_slug=product.slug %}">
                      
                        {% if product.image %}
                            <div class="img-container">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                            </div>
                        {% else %}
                            <div class="img-container">
                                <img src="{% static 'images/default-image.png' %}" alt="Default Image" class="card-img-top">
                            </div>
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a href="{% url 'product_detail' product_slug=product.slug %}" class="text-dark">{{ product.name }}</a>
                      
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
