{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <h1 class="my-4 text-center">Select a device</h1>
    <p>Select a device from the list below to continue with your sale.</p>
    
    <!-- Bootstrap Grid for the list of products -->
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card shadow-sm">
                    <a href="{% url 'product_detail' product.id %}">
                        {% if product.image %}
                            <div class="img-container">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                            </div>
                        {% else %}
                            <div class="img-container">
                                <img src="{% static 'images/default-image.jpg' %}" alt="Default Image" class="card-img-top">
                            </div>
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a href="{% url 'product_detail' product.id %}" class="text-dark">{{ product.name }}</a>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<style>
    /* Styling for the product list */
    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    .img-container {
        display: flex;
        justify-content: center; /* Centers the image horizontally */
        align-items: center; /* Centers the image vertically */
        height: 200px; /* Fixed height for uniform image size */
        width: 100%; /* Ensures the image spans the full width */
    }

    .card-img-top {
        max-width: 30%; /* Ensure the image doesn't exceed the card width */
      
    }

    .card-body {
        background-color: #f8f9fa;
        padding: 1.5rem;
    }

    .card-title a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .card-title a:hover {
        color: #007bff;
    }

    h1 {
        color: #333;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .container {
        max-width: 1200px;
    }

</style>

{% endblock %}
